---
interface Props {
    id:string
 Image:string,
 alt:string,
 Discount:string ,
 ProductName:string,
 Price:number
}
const {Image,id,Discount,ProductName,alt,Price} = Astro.props
---

<div class=" flex flex-col rounded-xl p-2  items-center justify-center hover:cursor-pointer  md:h-[450px] hover:ring hover:scale-105  transition-all w-full h-full relative gap-4">
    { Discount ? <div></div> :<div></div>}
    <div class="w-full h-3/5 border-2 rounded-xl ">
    <img src=`https://backend-wolf-psi.vercel.app/imagen/${Image}` alt={alt} class="rounded-xl  bg-slate-400 object-contain h-full w-full" />
    </div>
    <div class="w-full h-2/5 flex px-4  gap-2 flex-col justify-start items-start">
        <p class="font-semibold antialiased text-xl md:text-2xl">{ProductName}</p>
        <p class="text-gray font-roboto">${Price}</p>
        <a href={id} class="btn btn-wide w-full mt-2 mx-auto">Comprar</a>
    </div>
</div>