---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";

import Carrousel from "../components/Carrousel.astro";
import SubscribeCard from "../components/SubscribeCard.astro";

const data = [
  {
    Image:
      "https://i.pinimg.com/564x/e6/38/2f/e6382f90db553309ae56af79ffdeead7.jpg",
    alt: "IMAGEN",
    Discount: "",
    Productname: "CAMISA",
    price: 2400,
  },
  {
    Image:
      "https://i.pinimg.com/564x/e3/fa/37/e3fa37a06e0601fa8d04806e95c9f7c3.jpg",
    alt: "IMAGEN",
    Discount: "",
    Productname: "CAMISA",
    price: 2400,
  },
  {
    Image:
      "https://i.pinimg.com/564x/aa/d2/d0/aad2d07cc38a8d30ce5a47bcef9652a8.jpg",
    alt: "IMAGEN",
    Discount: "",
    Productname: "CAMISA",
    price: 2400,
  },

  {
    Image:
      "https://i.pinimg.com/564x/aa/d2/d0/aad2d07cc38a8d30ce5a47bcef9652a8.jpg",
    alt: "IMAGEN",
    Discount: "",
    Productname: "CAMISA",
    price: 2400,
  },
];
---
<section
class="w-full md:px-24 px-5 py-5 md:mt-20 mt-5 flex flex-col gap-10 justify-center items-center"
>
<h1 class="md:text-6xl text-4xl font-extrabold uppercase antialiased">
  Top ventas
</h1>
<div
  class="w-full grid md:grid-cols-4 grid-cols-2 grid-rows-auto place-content-center place-items-center gap-4"
>
  {
    data.map((shirt) => (
      <ProductCard
        Discount={shirt.Discount}
        alt={shirt.alt}
        Image={shirt.Image}
        ProductName={shirt.Productname}
        Price={shirt.price}
      />
    ))
  }
</div>

<button
  class="rounded-full text-center btn bg-transparent btn-wide link border-2"
  >view more</button
>
</section>